
/* =Reset
--------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1.5;
	font-family: 'Merriweather Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-shadow: 0px 1px 0px black;
	color: white;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* =Baseline
--------------------------------------------------------------*/
a {
	text-decoration: none;
	color: inherit;
}
h1 {
	font-weight: 700;
	font-family: 'Arvo';
	font-style: normal;
	font-size: 24px;
	line-height: 1.5;
	text-transform: uppercase;
}
h2 {
	font-weight: 200;
	font-size: 24px;
}
i	{
	font-style: italic;
}
ul {
	list-style: none;
}


/* = Common Elements
-------------------------------------------------------------- */
/*---= Popup Common  */
.popup {
	transition: .2s ;
	position: relative;
	float: none; /* Hack: stopgap until flexbox is more standard */
}
a img.popup	{
	width: 100%;
}
.inner-shadow	{
	box-shadow: none;
		-webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,.4));
		-moz-filter: drop-shadow(0px 5px 5px rgba(0,0,0,.4));
	filter: drop-shadow(0px 5px 5px rgba(0,0,0,.4));
}
/*--- = Thumbnails Common  */
.thumbnails	{
	margin: 30px 0 0 0;
	max-height: initial;
		display: -webkit-flex;
	display: flex;
		-webkit-flex-direction: column;
	flex-direction: column;
		-webkit-justify-content: space-between;
	justify-content: space-between;
}

.thumbnails a{
		-webkit-flex: 0 1;
	flex: 0 1;
	margin-bottom: 12px;
	display: block;
	box-shadow: 0 0 3px rgba(0,0,0,.4);
}

.thumbnails img {
	width: 100%;
	max-height: 200px;
	margin: auto;
	display: block;
}
/*--- = Image Link  */

.image-link	{
	max-height:  100%;
	display: block;
}
.image-link img	{
	max-height: 100%;
    max-width:  100%;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}

/* = Sections
--------------------------------------------------------------*/

/*------------------------------------------------------------------
Possible colors:
rgba(225,255,255,1) light blue
rgba(145,255,255,1) Teal
rgba(175,85,115,1) purple-red

------------------------------------------------------------------*/
section {
	overflow: hidden;
	border-top: 1px solid rgba(0,0,0,.3);
	text-align: center;
    	background-image: radial-gradient(at center, rgba(255,255,255,0) 20%, rgba(0,0,0,.2) 100%), url("/img/inner-noise.png");
	background-image: radial-gradient(at center, rgba(255,255,255,0) 20%, rgba(0,0,0,.2) 100%), -webkit-image-set(url("/img/noise.png") 1x,url("/img/noise-super.png") 2x);

	padding: 40px;
	position: relative
}

section a {
	display: block;
	overflow: auto;
}

section p {
	margin-bottom: 24px;
}

section figure  {
    max-height: 300px;
}

.flexible {
	height: auto;
}
.dark-text	{
	color: #555;
	text-shadow: 0 1px 0 white;
}


/*--- = Head Question  */
.header	{
	box-sizing:  border-box;
	padding: 40px;
}
.avatar	{
	display: inline-block;
	//border: 5px solid white;
	border-radius: 50%;
	margin-top: 10px;
	width: 120px;
	box-shadow: 0 0 3px rgba(0,0,0,.4);;
	opacity: 1;
}
.prescreen::after {
	content: '\201D';

}
.prescreen::before {
	content: '\201C';

}
.sentence	{
	font-family: Merriweather;
	font-style: italic;
	text-align: center;
	margin: 0 auto;
	z-index: 2;
	position: relative;
}

.quote-left,.quote-right {
	font-size: 72px;
	margin-top: 45px;
	display: inline-block;
	font-family: Georgia;
}

.quote-left {
	float: left;
}

.quote-right {
	float: right;
}
.response {
	z-index: 2;
	position: relative;
}

/*---= Web-design  */
.web-design {
	background-color: #7348f1;
}

/*--- = Pulsar  */
.pulsar	{
	background-color: black;
}

#device .screen {
    box-shadow: none;
}

/*--- = Github  */
section.projects	{
	background-color: #FF7503;

}

.projects .thumbnailsa{
	background-color: white;
		display: -webkit-flex;
	display: flex;
	}
.projects a	{
	background-color: white;
}
.projects a img{
	padding: 24px; /*SVG artborads are marginless, so we need some breathing room*/
	margin: auto;
	box-sizing: border-box;
}

/*---= Questions  */
.question-block {
	width: 100%;
	background-color: #a9cc29;
	color: white;
	text-shadow: 0px 1px 3px rgba(0,0,0,.7);
}

.question {
	font-size: 36px;
	line-height: 1;
	margin: 0 auto;
}

.real .question {
	padding: 20px 0;
}

.quotes::before{
	content: '\201C';
	font-size: 120%;
	display: inline-block;
	font-family: Georgia;
	position: absolute;
	margin-left: -60px;
}
.quotes::after{
	content: '\201D';
	font-size: 120%;
	display: inline-block;
	font-family: Georgia;
	position: absolute;
	margin-left: 20px;
/* 	No, I'm not sure why this one can't use negative right margin, but this works... */
}


/*--- = Widget  */
.widget	{
	background-color: rgba(0,123,255,1);
}
.widget	.image-link img	{
	box-shadow: none; /* Screenshot has a shadow baked in*/
}
/*---= Wikipedia  */
.wikipedia {
    background-color: #dc3d2c;
}
.wikipedia a{
	overflow: visible !important;
}
.wikipedia .popup	{
	width: 100%;
}
.wikipedia .stub {
	display: none;
}
.wikipedia .inner-shadow	{
	box-shadow: 0px -3px 3px rgba(0,0,0,.2);
		-webkit-filter: drop-shadow(0px -3px 3px rgba(0,0,0,.2));
		-moz-filter: drop-shadow(0px -3px 3px rgba(0,0,0,.2));
		filter: drop-shadow(0px -3px 3px rgba(0,0,0,.2));;
}

.wikipedia .image-link img  {
    	max-height: initial; /* The SVGs resize a little differently than regular images*/
}

/*---= Vimeo  */
section.vimeo	{
	 background-color: #5ec8ec;
	display: none; /*Flipped by script*/
}
section ul	{
	width: 100%;
		display: -webkit-flex;
	display: flex;
}
section ul li	{
	list-style: none;
	display: inline-block;
	background-color: black;
	margin: 0 12px;
}
.vimeo a img	{
	width: 100%;
	height: 100%;
 }


/*---= For Real?  */
.real {
	box-sizing: border-box;
}
.polaroid {
	padding: 18px;
	background-color: #EEE;
	display: inline-block;
	margin: 0 auto;
	max-width: 100%;
	box-sizing: border-box;
	float: none; /* Hack: until flexbox is more standard */
	color: black;
}
.polaroid figcaption{
	font-family: "Noteworthy-bold","Lucida Handwriting","Permanent Marker", cursive;
	font-size: 24px;
	color: rgba(0,0,0,.7);
	text-shadow: none;
	padding: 14px 0;
}
.polaroid img	{
    max-height: 70%;
	max-width: 100%;
}
/*---= Social  */
.social	{
	padding: 40px 0 10px 0;
	font-size: 21px;
	background: rgba(255,255,255,1);
}
.social .container{
		display: -webkit-flex;
	display: flex;
		-webkit-flex-flow: row wrap;
   flex-flow: row wrap;

	margin: 0 auto 20px auto;
	max-width: 400px;
}
.social a {
	position: relative;
	font-family: 'ion icons';
	transition: .3s;
		-webkit-flex: 1 1;
	flex: 1 1;
	display: block;
	overflow: auto;
	color: black;
	padding: 20px 0;
	opacity: .6;
	font-size: 36px;
		border-radius: 4px;
}

.social a:hover{
	color: white;
	text-shadow: none;
}
.social .github:hover{
	background-color:rgba(176, 74, 0,1);
}
.social .tumblr:hover {
	background-color: rgba(50,80,109,1);
}
.social .instagram:hover{
	background-color: rgba(81,127,182,1);
}
.social .linkedin:hover	{
	background-color: rgba(0,123,182,1);
}
.social .facebook:hover	{
	background-color: rgba(62,92,152,1);
}
.social .vimeo:hover {
	background-color: rgba(69,187,255);
}

/*---= Resume  */
.resume	{
	background-color: rgba(0,0,0,0);
	padding: 0;
}

.resume a {
	padding: 30px;
	font-size: 24px;
	background-color: #eee;
	background-size: 22px 22px;
	font-weight: 700;
	color: #555;
	text-shadow: 0 1px white;
	background-image:
repeating-linear-gradient(45deg, rgba(0, 191, 255, .3), rgba(0, 191, 255, .3) 1px, transparent 2px, transparent 15px),
repeating-linear-gradient(-45deg, rgba(0, 191, 255, .3), rgba(0, 191, 255, .3) 1px, transparent 2px, transparent 15px);
}


/* =Footer
--------------------------------------------------------------*/
footer {
	margin-top: 12px;
	color: #777;
	text-shadow: 0px 1px 0px white;
	font-size: 16px;
}

/* = Animations
-------------------------------------------------------------- */


@-webkit-keyframes stud {
    0% {top: 0px; opacity: 0;}
    10% {opacity: .5}
    48% {z-index: 1}
    50% {top: -450px; z-index: 3; opacity: 1; }
    100% {top: 0px; z-index: 3; opacity: 1; }
}
@-webkit-keyframes stub {
    0% { opacity: 1}
    10% {top: 30px; opacity: .9}
    48% {opacity: 1;}
    50% {opacity: .9}
    70% {top: 30px; opacity: .9;}
    100% {opacity: 0}
}

@keyframes stud {
    0% {top: 0px; opacity: 0;}
    10% {opacity: .5}
    48% {z-index: 1}
    50% {top: -450px; z-index: 3; opacity: 1; }
    100% {top: 0px; z-index: 3; opacity: 1; }
}
@keyframes stub {
    0% { opacity: 1}
    10% {top: 30px; opacity: .9}
    48% {opacity: 1;}
    50% {opacity: .9}
    70% {top: 30px; opacity: .9;}
    100% {opacity: 0}
}

/* = Media Queries
-------------------------------------------------------------- */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.hairline,
	#wrapper,
	section
	 {
		border-width: 0.5px !important;
	}
}

@media (min-width: 800px){
	.thumbnails	{
			-webkit-flex-direction: row;
	   flex-direction: row;
	   margin-bottom: 24px;
	}
	.thumbnails a	{
			-webkit-flex: 0 1 30%;
		flex: 0 1 30%;
			display: -webkit-flex;
		display: flex;
		margin: 0;
	}
}

@media (min-width: 1220px ) {
	/* = Baseline
	-------------------------------------------------------------- */
	body {
		padding: 20px 100px;
		margin: 0 auto;
		font-size: 18px;
		width: 1120px;

		background: url("/img/outer-noise.png") #EEE;
		background: -webkit-image-set(url("/img/outer-noise-super.png") 2x) #EEE
	}

	#wrapper {
		width: 1100px;
		margin: 0 10px;
		border-radius: 40px;
		overflow: hidden;
		border: 1px solid #aaa;
		position: relative;
	}

	/* = Common Elements
	-------------------------------------------------------------- */
	.popup{
		transition: .3s;
		will-change: translate;
	}
	.popup:hover {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
		z-index: 3;
	}
	.image-link	{
		max-height: 300px;
		overflow: visible;
	}
	/* = Sections
	-------------------------------------------------------------- */
	section:first-child	{
		border-top: none;
		border-radius: 40px 40px 0 0;
	}
	section:last-child	{
		border-radius: 0 0 40px 40px;
	}
	/*--- = Question  */
	.header	{
		padding: 40px 0;
	}
	h1 {
		font-size: 60px;
	}
	.question-block {
		width: 100%;
		color: white;
		text-shadow: inherit;
	}

	.question {
		font-size: 36px;
		line-height: 1;
		margin: 0 auto;
	}

	.quotes::before{
		content: '\201C';
		display: inline-block;
		font-family: Georgia;
		position: absolute;
		margin-left: -60px;
	}
	.quotes::after{
		content: '\201D';
		display: inline-block;
		font-family: Georgia;
		position: absolute;
		margin-left: 20px;
	}	/* 	No, I'm not sure why this one can't use negative right margin, but this works... */

	/*--- = Header  */
	.avatar	{
        display: inline-block;
    	width: 360px;
    	position: absolute;
    	box-shadow: 0 0 3px rgba(0,0,0,.4);;
    	opacity: .8;
		display: inline-block;
		right: -65px;
		top: -30px;
	}

	/*---= Wikipedia  */
	.wikipedia .stub{
		z-index: 2;
	}
	.wikipedia .stud	{
		margin-top: -300px; /* Hide it behind the stub */
		opacity:.0;
		z-index: 1;
	}
	.wikipedia:hover .stub	{
    		-webkit-animation: stub 2s; /* Chrome, Safari, Opera */
		animation: stub 2s;
			-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}
	.wikipedia:hover .stud	{
    		-webkit-animation: stud 2s; /* Chrome, Safari, Opera */
		animation: stud 2s;
			-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}
	.wikipedia .popup	{
		float: none; /* Hack: until flexbox is more standard */
		width: 100%;
	}
	.wikipedia .stub{
		display: block;
	}
	.wikipedia .inner-shadow	{
		box-shadow: 0px 3px 3px rgba(0,0,0,.2);
			-webkit-filter: drop-shadow(0px 3px 3px rgba(0,0,0,.2));
			-moz-filter: drop-shadow(0px 3px 3px rgba(0,0,0,.4));
		filter: drop-shadow(0px 3px 3px rgba(0,0,0,.4));
	}

	/*---= Vimeo  */

	section.vimeo .popup:hover {
			-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	/*--- = Real  */
	.real	{
		padding: 60px 0 80px 0;
	}
	.real .polaroid	{
		position: absolute;
		bottom: -340px;
		margin-left: -100px
	}
	.real:hover .popup {
		bottom: 0px;
		z-index: 4;
			-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}

}