RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.nickwalker.us [NC]
RewriteRule ^(.*)$ http://nickwalker.us/$1 [L,R=301]
# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript image/svg+xml
</ifmodule>
# END GZIP
AddType image/svg+xml svg svgz
AddEncoding gzip svgz
