<!-- _includes/article_image.html -->
{% comment %} TODO: Check if there's a better way to do asset URLs{% endcomment %}
{% if include.lightbox == nil or include.lightbox %}
{% assign lightbox = true %}
{% else %}
{% assign lightbox = false %}
{% endif %}
<figure class="article-image">
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
        <img src="{{ include.img }}" alt="{{ include.title }}"/>
    </a>
    {% elsif lightbox %}
    <a href="{{ include.img }}" data-fancybox="gallery"><img src="{{ include.img }}" alt="{{ include.title }}"/></a>
    {% else %}
    <img src="{{ include.img }}" alt="{{ include.title }}"/>
    {% endif %}
    {% if include.caption %}
    <figcaption>{{ include.caption | markdownify }}</figcaption>
    {% endif %}
</figure>