<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="{{ '/' | relative_url}}" class="branded-title">
            {{ site.title }}
        </a>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

            {% if site.linkedin_username %}
            <li>
                <a href="https://linkedin.com/in/{{site.linkedin_username}}"
                   title="See history."> <i class="ion-social-linkedin linkedin"></i>{{site.linkedin_username}}</a>
            </li>
            {% endif %}

            {% if site.github_username %}
              <li>
                <a href="https://github.com/{{site.github_username}}" title="See code."> <i class="ion-social-github github"></i>{{site.github_username}} </a>
              </li>
            {% endif %}

            {% if site.flickr_username %}
            <li>
                <a href="https://flickr.com/photos/{{site.flickr_username}}" title="See Photos."> <i
                        class="ion-images flickr"></i>{{site.flickr_username}} </a>
            </li>
            {% endif %}

        </ul>
      </div>
        <div class="footer-col footer-col-3">
            {% if site.description %}
            <p>{{ site.description }}</p>
            {% endif %}
        </div>

    </div>

  </div>

</footer>
