<head>
  {% include base_meta.html%}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% include fonts.html %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css">
  <link rel="shortcut icon" href="{{ '/assets/img/favicon.png' | relative_url }}"/>
  <link rel="apple-touch-icon" href="{{ '/assets/img/apple-touch-icon.png' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/img/safari-mask.svg' | relative_url }}" color="#a9cc29">

</head>
