<header class="site-header" role="banner">

  <div class="wrapper">
      <a class="site-title" href="{{ '/' | relative_url}}">{% include kerned_name.html %}</a>
    <nav class="site-nav">
        <div class="navigation-links">
            {% assign sorted_pages = (site.pages | sort: 'nav_order' | where: "show_in_nav", "true") %}
            {% for page in sorted_pages %}
            {% if page.title %}<a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>{%
            endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
