<header class="site-header">
    <nav class="navbar navbar-expand-sm">
      <div class="container justify-content-around justify-content-sm-between">
          <a class="navbar-brand site-title nav-link text-light" href="{{ '/' | relative_url}}">{{ site.title }}</a>
            <div class="navigation-links">
                <ul class="navbar-nav d-flex flex-row gap-2 flex-wrap justify-content-around ">
                  <li class="nav-item"><a class="nav-link" href="{% link pages/blog.html %}">Blog</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% link pages/publications.md %}">Publications</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% link pages/cv.md %}">CV</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% link pages/about.md %}">About</a></li>

                </ul>
          </div>
      </div>
    </nav>
</header>
