<header class="site-header">
    <nav class="navbar navbar-expand text-light">
  <div class="container">
      <a class="navbar-brand site-title" href="{{ '/' | relative_url}}">{{ site.title }}</a>

        <div class="navigation-links">
            <ul class="navbar-nav">
            {% for page in site.data.navigation %}
                {% if page.title %}<li class="nav-item"><a class="nav-link" href="{{ page.href }}">{{ page.title | escape }}</a></li>{%
            endif %}
            {% endfor %}
            </ul>
      </div>

  </div>
    </nav>


</header>
