  <li style="background-color: {{project.block_color}};">
          {% if project.has_article %}
            {% assign project_url= project.url %}
          {% else %}
      {% assign project_url= project.code_url %}
          {% endif%}
          <a class="project-link" href="{{ project_url }}">
            {% if project.block_image %}
              <img src="/assets/projects/{{project.title | slugify}}/{{project.block_image}}"/>
            {% endif %}
            <h2>{{ project.title | escape }}</h2>
            {% if project.short_description %}
              <span class="project-description">{{project.short_description}}</span>
            {% endif %}
          </a>
</li>
