{% assign content = project.content | strip_newlines %}
{% if content != blank %}
{% assign project_url = project.url %}
{% elsif project.redirect_to contains "projects#" %}
{% assign project_url = nil %}
{% else %}
{% assign project_url = project.redirect_to %}
{% endif %}
<div class="row" id="{{ project.slug }}">
  <div class="col-md-3">
    {% if project.featured_image_rel %}
    <img src="{{site.baseurl}}/assets/images/projects/{{project.slug}}/{{project.featured_image_rel}}"/>
    {% elsif project.featured_image %}
    <img src="{{project.featured_image}}"/>
    {% endif %}
    {% if project.video %}
    {% endif %}
  </div>
  <div class="col">

  <h3 class="mb-0">{% if project_url %}<a href="{{ project_url }}">{% endif %}{{ project.title | escape }}{% if project_url %}</a>{% endif %}</h3>
    <div class="mb-1">
    <span class="d-inline me-2">{{ project.date | date: "%Y" }}{% if project.end_date %}{% if project.end_date != blank %} - {{ project.end_date | date: "%Y" }}{% else %}—{% endif %}    {% endif %}</span>
    {% for category in project.categories | sort %}
    <span class="badge text-bg-light">{{ category }}</span>
    {% endfor %}
    </div>

  {% if project.description %}
    <p class="mb-1">{{project.description | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endif %}

  <ul class="list-inline d-flex gap-2">
    {% if project_url %}
    <li class="list-inline-item">
      <a href="{{ project.url }}" title="Read more" data-goatcounter-click="ext-{{project.slug }}-read-more"> <ion-icon name="link"></ion-icon> Read more</a>
    </li>
    {% endif %}
    {% if project.link %}
    <li class="list-inline-item">
      <a href="{{ project.link }}" title="See more" data-goatcounter-click="ext-{{project.slug }}-see-it"> <ion-icon name="link"></ion-icon> See it</a>
    </li>
    {% endif %}
    {% if project.video %}
    <li class="list-inline-item">
      <a href="{{ project.video }}" title="Watch video" data-goatcounter-click="ext-{{project.slug }}-video"> <ion-icon name="film"></ion-icon> Video</a>
    </li>
    {% endif %}
    {% if project.code_url %}
    <li>
      <a href="{{ project.code_url }}" title="See code" data-goatcounter-click="ext-{{project.slug }}-code"> <ion-icon name="logo-github"></ion-icon> Code</a>
    </li>
    {% endif %}
    {% if project.citation_keys %}
    {% for key in project.citation_keys %}
    <li>
      <a href="{{ site.baseurl }}/publications/{{ key }}/" title="See publication"> <ion-icon name="document-text"></ion-icon>  Paper</a>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
  </div>

</div>