/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/**
 * Basic styling
 */
:root {
  --bs-body-color: #111;
  --bs-light-bg-subtle: #eee;
  --light-text-color: #333;
  --lighter-text-color: #828282;
  --bs-body-bg: #fdfdfd;
  --theme-color: red;
  --light-background-color: #eee;
  --text-brand-color: var(--theme-color);
  --link-color: var(--theme-color-darker);
  --link-decoration-color: var(--theme-color-lighter);
  --link-color-hover: var(--theme-color-darker);
  --link-border-color: rgba(255, 255, 255, .3);
  --bs-body-line-height: 1.5;
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-font-family: "Georgia", serif;
  --bs-light-rgb: 240, 240, 240;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-size: var(--bs-body-font-size);

  @include media-query($on-laptop) {
    --bs-body-font-size: 17px;
  }
  --baseline: calc(1rem * var(--bs-body-line-height));
}

.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-brand-padding-y: 0;
}

.navbar-nav {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: #eaeaea;
}

html.show-baseline-grid body {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 99999;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, .35) 1px, transparent 1px);
    background-size: 100% var(--baseline);
  }
}

.navbar a:hover {
  background-color: transparent;
}

::selection {
  background-color: var(--theme-color-faint);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(120, 2%, 9%);
    --light-background-color: hsl(120, 2%, 20%);
    --text-color: #ccc;
    --light-text-color: #aaa;

    --heading-color: #dee2e6;
    --hr-color: rgba(255, 255, 255, .1);
    --code-color: rgba(212, 73, 80, .85);
    --code-snippet-border: rgba(255, 255, 255, .1);
    --neutral-accent: #828282;
  }
}*/


/**
 * Set `margin-bottom` to maintain vertical rhythm (multiples of --baseline)
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: var(--baseline);
}


section {
  margin-bottom: var(--baseline);
  /* This ends up hiding hanging bullets
  overflow: auto;*/
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: var(--small-font-size);
}



/**
 * Lists
 */


li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 1.75rem;
  line-height: calc(var(--baseline) * 1.5);
  font-weight: 700;
  margin-bottom: calc(var(--baseline) * 0.5);
}

h2, .h2 {
  font-size: 1.35rem;
  line-height: calc(var(--baseline) * 1.25);
  font-weight: 650;
  margin-bottom: calc(var(--baseline) * .75);
}

p {
  margin: 0 auto var(--baseline) auto;
}

h3, .h3 {
  font-size: 1.125rem;
  line-height: var(--baseline);
  font-weight: 650;
  margin-bottom: calc(var(--baseline) * .5);
}
h3 {
  margin-top: var(--baseline);
}

h4 {
  font-size: 1rem;
  margin-bottom: calc(var(--baseline) * 0.25);
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  margin-bottom: calc(var(--baseline) * 0.25);
  font-weight: 700;
  font-style: italic;
}

h6 {
  font-size: .875rem;
  margin-bottom: calc(var(--baseline) * 0.25);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
}

:is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

b, strong {
  font-weight: 600;
}

.text-secondary {
  color: var(--lighter-text-color) !important;
}


/**
 * Links
 */

a:not(.btn) {
  color: var(--theme-color-darkest);
  text-decoration: none;
  border-color: var(--theme-color-dark);
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  background-color: inherit;

  &.link-secondary {
    border-color: #a2a2a2;
  }

  &:visited {
    color: var(--theme-color-darkest);
    border-color: var(--theme-color-light);
  }

  &:hover {
    text-decoration: none;
    background-color: var(--theme-color-faint);
  }
}

.btn {
  padding: .25rem .5rem;
}

.btn-primary, .btn:visited  {
  --bs-btn-color: white;
  --bs-btn-bg: var(--theme-color);
  --bs-btn-border-color: var(--theme-color);
  --bs-btn-hover-bg: var(--theme-color-light);
  --bs-btn-hover-border-color: var(--theme-color-light);
  --bs-btn-active-border-color: var(--theme-color-dark);
  --bs-btn-active-color: white;
  --bs-btn-active-bg: var(--theme-color-dark);
}

.btn-outline-primary, .btn-outline-primary:visited {
  --bs-btn-color: var(--theme-color);
  --bs-btn-border-color: var(--theme-color-light);

  --bs-btn-hover-bg: var(--theme-color-faint);
  --bs-btn-hover-color: var(--theme-color);
  --bs-btn-hover-border-color: var(--theme-color-lighter);

  --bs-btn-active-bg: var(--theme-color-dark);
  --bs-btn-active-border-color: var(--theme-color-dark);
  --bs-btn-active-color: white;
  --bs-btn-active-bg: var(--theme-color-dark);

  --bs-btn-focus-shadow-rgb: 255, 255, 255
}


article li [href^="http"]:not([href*="nickwalker.us"],a.btn)::after,
article p [href^="http"]:not([href*="nickwalker.us"],a.btn)::after,
article h1 [href^="http"]:not([href*="nickwalker.us"],a.btn)::after,
article h2 [href^="http"]:not([href*="nickwalker.us"],a.btn)::after{
  background-image: url(/assets/images/launch.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.75ex 1.75ex;
  height: 1.75ex;
  width: 1.75ex;
  content: "";
  display: inline;
  padding-left: 1.75ex;
  //vertical-align: middle; // This breaks the baseline for some reason
}


@supports ((-webkit-mask:url()) or (mask:url())) {
  article li [href^="http"]:not([href*="nickwalker.us"],a.btn)::after,
  article p [href^="http"]:not([href*="nickwalker.us"],a.btn)::after,
  article h1 [href^="http"]:not([href*="nickwalker.us"],a.btn)::after,
  article h2 [href^="http"]:not([href*="nickwalker.us"],a.btn)::after{
    background: 0 0;
    background-color: rgba(0, 0, 0, 0);
    background-color: currentColor;
    -webkit-mask-image: url(/assets/images/launch.svg), linear-gradient(transparent, transparent);
    mask-image: url(/assets/images/launch.svg), linear-gradient(transparent, transparent);
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 1.75ex 1.75ex;
    mask-size: 1.75ex 1.75ex;
  }
}

.anchor-link {
  padding: 0 .175rem;
  font-weight: 400;
  text-decoration: none;
  opacity: 0;
  transition: color 0.15s ease-in-out,opacity 0.15s ease-in-out;
}

.anchor-link::after {
  content: "#";
}

.anchor-link:focus, .anchor-link:hover, :hover > .anchor-link, :target .anchor-link {
  text-decoration: none;
  opacity: 1;
}


/**
 * Blockquotes
 */
blockquote {
  color: var(--lighter-text-color);
  border-left: 2px solid var(--light-background-color);
  padding-left: 1rem;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */


pre,
code {
  font-size: 14px;
  border-radius: 3px;
  line-height: var(--baseline);
  font-family: "IBM Plex Mono", monospace;
}

code {
  padding: 1px 5px;
  box-shadow: inset 0 0 0 1px var(--light-background-color);
  background-color: var(--light-background-color);
}

pre {
  padding: calc(var(--baseline) * 0.5) 12px;
  box-shadow: inset 0 0 0 1px var(--light-background-color);
  overflow-x: auto;
  background-color: var(--light-background-color);

  > code {
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
  }
}

.container {
  max-width: 900px;
}

.badge {
  --bs-badge-font-weight: normal
}

.alert {
  --bs-alert-padding-y: calc(var(--baseline) * 0.5);
  --bs-alert-margin-bottom: var(--baseline);
  --bs-alert-border: none; // border adds to box height; box-shadow doesn't
  box-shadow: inset 0 0 0 var(--bs-border-width) var(--bs-alert-border-color);

  pre {
    margin-bottom: 0;
  }
}

.badge.text-bg-light {
  color: #666 !important;
}

ion-icon {
  margin-bottom: -3px;
}

.bibliography u {
  text-decoration-color: #999;
}

.pub-authors {
  margin-bottom: calc(var(--baseline) * 0.25);
}

.pub-cite {
  margin-top: calc(var(--baseline) * 0.5);
}

.filter-option::before {
  content: '#'
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 0.25rem;
  row-gap: calc(var(--baseline) * 0.25);
  margin-bottom: calc(var(--baseline) * 0.75);
}