/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html {
  // Set root size for rem
  font-size: $base-font-size
}


/**
 * Basic styling
 */
:root {
  --text-color: #111;
  --light-text-color: #333;
  --lighter-text-color: #828282;
  --background-color: #fdfdfd;
  --brand-color: red;
  --light-background-color: #eee;
  --text-brand-color: var(--brand-color);
  --link-color: var(--brand-color-darker);
  --link-decoration-color: var(--brand-color-light);
  --link-color-hover: var(--brand-color-darker);
  --link-border-color: rgba(255, 255, 255, .3);
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(120, 2%, 9%);
    --light-background-color: hsl(120, 2%, 20%);
    --text-color: #ccc;
    --light-text-color: #aaa;

    --heading-color: #dee2e6;
    --hr-color: rgba(255, 255, 255, .1);
    --code-color: rgba(212, 73, 80, .85);
    --code-snippet-border: rgba(255, 255, 255, .1);
    --neutral-accent: #828282;
  }
}*/


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 1rem;
}


section {
  margin-bottom: 1rem;
  /* This ends up hiding hanging bullets
  overflow: auto;*/
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */


li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: var(--link-color);
  -webkit-text-decoration-color: var(--link-decoration-color);
  text-decoration-color: var(--link-decoration-color);
  transition:.2s;

  &:hover {
    border-bottom: none;
    -webkit-text-decoration-color: var(--link-color-hover);
    text-decoration-color: var(--link-color-hover);
  }
}

p a {
  &:visited {
    color: var(--brand-color-darker);
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: var(--lighter-text-color);
  border-left: 2px solid var(--light-background-color);
  padding-left: 1rem;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */


pre,
code {
  font-size: 15px;
  border: 1px solid var(--light-background-color);
  border-radius: 3px;
}

code {
  padding: 1px 5px;
  background-color: var(--light-background-color);
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  background-color: var(--light-background-color);

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: calc(#{$content-width} - 2rem);
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  @extend %clearfix;

  .full-width {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
  }

}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ion-icon {
  margin-bottom: -3px;
}
