.bibliography u {
  text-decoration-color: #999;
}

.bibliography li a {
  display: inline-block;
}

.bib-entry .title {
  font-weight: bold;
}

.bib-entry .venue {
  font-style: italic;
}

.bib-entry .authors {
  display: inline-block;
  margin-bottom: .5rem;
}
