.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.post-link {
  display: block;
  font-size: 18px;
}

.permalink, .permalink:visited {
  text-decoration: none;
  color: $grey-color-light;
  border-bottom: none;
  display: inline-block;
  padding: 0px 5px 0 5px;
}

header:hover .permalink {
  color: $grey-color-dark;
  text-decoration: none;
}

.permalink:hover {
  background-color: $grey-color-light;
}

article.full-post {
  header a {
    text-decoration: none;
  }
  header a:hover {
    text-decoration: underline;
  }
  .permalink {
    display: none;
  }
}

article.in-blog-list {
  margin-bottom: 3 * $spacing-unit;
}

article.link-post {
  header h2 {
    font-weight: normal;
  }
}

article.project img {
  background-color: #ccc;
}

.restrict-width {
  max-width: 650px;
  margin: 0 auto;
}

article {

  ol, ul,
  header, p, iframe, pre, h1, h2, h3, h4, h5, blockquote {
    margin-left: auto;
    display: block;
    margin-right: auto;
    max-width: 650px;
  }
  blockquote {
    box-sizing: border-box;
  }

  header {
    margin-bottom: $spacing-unit;
    .post-meta {
      font-size: $small-font-size;
      color: $grey-color;
      font-weight: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      float: none;
    }

    h1, h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 0;

      @include media-query($on-laptop) {
        font-size: 21px;
      }
    }
  }

  .article-image {
    margin-bottom: $spacing-unit;
    img {
      margin: 0 auto;
      margin-bottom: $spacing-unit/2.0;
      max-height: 75vh;
    }
    figcaption {
      font-size: 14px;
      color: #333;
    }
  }

  .post-content p:first-of-type {
    //font-size: 21px;
  }
  .post-content, .project-content {
    margin-bottom: $spacing-unit;

    p {
      margin: 0 auto $spacing-unit auto;
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 48px;
    }

    h3 {
      font-size: 26px;

      @include media-query($on-laptop) {
        font-size: 22px;
      }
    }

    h4 {
      font-size: 20px;

      @include media-query($on-laptop) {
        font-size: 18px;
      }
    }
  }

}