.post-meta {
  font-size: $small-font-size;
  color: var(--lighter-text-color);
  letter-spacing: 2px;
  text-transform: uppercase;
  @include media-query($on-laptop) {
    float: right;
  }
}

.post-link {
  display: block;
  font-weight: normal;
}

.permalink, .permalink:visited {
  text-decoration: none;
  color: $grey-color-light;
  border-bottom: none;
  display: inline-block;
  padding: 0px 5px 0 5px;
}

header:hover .permalink {
  color: $grey-color-dark;
  text-decoration: none;
}

.permalink:hover {
  background-color: $grey-color-light;
}

article.full-post {
  header a {
    text-decoration: none;
    letter-spacing: .4px;
  }
  header a:hover {
    text-decoration: underline;
  }
  .permalink {
    display: none;
  }
}
sup {
  line-height: 0px;
}

sup a:link {
  padding: 3px;
}

.blog-list article {
  margin-bottom: 3 * $spacing-unit;
}

article.link-post {
  header h2 {
    font-weight: normal;
  }
}

article.project img {
  background-color: #ccc;
}

.restrict-width {
  max-width: 650px;
  margin: 0 auto;
}

.footnotes {
  padding-left: 1rem;
  padding-top: 1rem;
  margin-top: 4rem;
  font-size: $small-font-size;
}

.footnotes::before {
  content: "";
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  height: 1px;
  display: block;
  background-color: lightgray;
  margin-bottom: 1rem;
}

article {

  p a, ul a, ol a, blockquote a, pre a {
    color: var(--light-text-color);
    text-decoration-color: var(--light-text-color);
    transition:.2s;

    &:hover {
      text-decoration: none;
      background-color: var(--brand-color);
    }

    &:visited {
      color: var(--text-color);
    }
  }

  header, p, pre, h1, h2, h3, h4, h5, blockquote, hr, ul, ol {
    margin-left: auto;
    display: block;
    margin-right: auto;
    max-width: 650px;
  }

  ol, ul {
    padding-left: .75rem;
  }

  li > ul, li > ol {
    padding-left: .5rem;
  }


  @include media-query($on-laptop) {
    pre {
      //max-width: initial;
    }
  }

  blockquote {
    box-sizing: border-box;
  }

  hr {
    &::after {
      content: "···";
      letter-spacing: 2em;
    }
    margin: 2em auto 4em auto;
    text-align: center;
    border-color: var(--light-text-color);
    border-width: 0;
    border-style: dotted;
  }

  header {
    margin-bottom: 1rem;
    .post-meta {
      font-size: $small-font-size;
      color: var(--light-text-color);
      font-weight: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      float: none;
    }


  }

  iframe {
    margin-bottom: 2rem;
  }

  .video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  .article-image {
    margin-bottom: 2rem;

    img {
      margin: 0 auto;
      margin-bottom: calc($spacing-unit/2.0);
      width: 100%;
      object-fit: contain;
      background-color: var(--light-background-color);
      max-height: 75vh;
    }
    figcaption p {
      font-size: $small-font-size;
      color: var(--text-color);
    }
  }

  .article-multiimage {
    margin-bottom: 2rem;


    .images {
      display: flex;
      flex-direction: column;
      //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      //grid-gap: 1rem;
      align-items: start;
      @include media-query($on-tablet) {
        & {
         flex-direction: row;
          gap: .5rem
        }
      }

      img {
        margin: 0 auto;
        margin-bottom: calc($spacing-unit/2.0);
        width: 100%;
        object-fit: contain;
        background-color: var(--light-background-color);
        max-height: 75vh;
      }
    }
    figcaption p {
      font-size: $small-font-size;
      color: var(--text-color);
    }
  }

  .post-content p:first-of-type {
    //font-size: 21px;
  }
  .post-content, .project-content {
    margin-bottom: 2rem;
    font-family: $post-content-font-family;

    h2 {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 2rem;
    }

  }

}

/**
 * Post list
 */

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: 0.5rem;
  }
}

