/**
 * Bio
 */
.bio p {
  display: inline;
  @include media-query($on-laptop) {
    display: inline-block;
    max-width: 600px;
  }
}
.avatar {
  vertical-align: top;
  width: 150px;
  border-radius: 75px;
  display: inline-block;
  margin-right: $spacing-unit;
  box-sizing: padding-box;
  float: left;
  shape-outside: border-box;
  shape-margin: $spacing-unit;

  @include media-query($on-laptop) {
    shape-outside: none;
    shape-margin: unset;
    margin-right: 2 * $spacing-unit;
  }
}


/**
 * Projects
 */

.project-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: block;
    overflow: auto;
    margin-bottom: 1rem;
  }

  img {
    float: left;
    max-height: 8rem;
    margin-right: 1rem;
  }
}

.project-block-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    min-height: 96px;
    position: relative;
    display: block;
    background-color: $grey-color-light;
    background-image: radial-gradient(at center, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, .1) 100%),
    linear-gradient(308deg, transparent, transparentize($grey-color-dark, 0.9)), url(asset_path('noise.png'));
    background-image: radial-gradient(at center, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, .1) 100%),
    linear-gradient(308deg, transparent, transparentize($grey-color-dark, 0.9)), -webkit-image-set(url(asset_path('noise.png')) 1x, url(asset_path('noise-super.png')) 2x);
    background-image: radial-gradient(at center, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, .1) 100%),
    linear-gradient(308deg, transparent, transparentize($grey-color-dark, 0.9)), image-set(url(asset_path('noise.png')) 1x, url(asset_path('noise-super.png')) 2x);
    filter: saturate(30%) brightness(105%);
    transition: 0.3s;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 1;
    &:hover {
      filter: none;
    }
    &:hover img {
      filter: none;
    }
    a {
      display: block;
      -webkit-text-decoration: none;
      color: inherit;
      text-decoration: none;
      padding: $spacing-unit;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      img {
        // Bypass padding on the container with absolute positioning
        position: absolute;
        left: 0;
        top:0;
        // Cover the container
        width: 100%;
        height: 100%;
        // Make sure image fills the container proportionally
        object-fit: cover;
        opacity: 0.15;
        filter: blur(2px);
        transition: 0.3s;

      }
    }
    h2 {
      font-size: 1.125rem;
      //font-weight: 600;
      margin: 0;
      padding: 0;
      position: relative;
    }
    .project-description {
      font-size: $small-font-size;
      opacity: 0.8;
    }
  }
}

.rss-note {
  float: right;
  color: $grey-color-mid-light;
}

.home .post-link {
  font-size: 1.125rem;
}