/**
 * Bio
 */
.bio p {
  display: inline;
  @include media-query($on-laptop) {
    display: inline-block;
    max-width: 600px;
  }
}
.avatar {
  vertical-align: top;
  width: 150px;
  border-radius: 75px;
  display: inline-block;
  margin-right: 0.5rem;
  box-sizing: padding-box;
  float: left;
  shape-outside: border-box;
  shape-margin: 0.5rem;

  @include media-query($on-laptop) {
    shape-outside: none;
    shape-margin: unset;
    margin-right: 2rem;
  }
}


/**
 * Projects
 */

.project-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;

  &.bulleted {
    list-style: disc;

    li {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  li {
    margin-bottom: 1rem;
  }

  img {
    float: left;
    max-height: 8rem;
    margin-right: 1rem;
  }
}

.rss-note {
  float: right;
  color: $grey-color-mid-light;
}

.home .post-link {
  font-size: 1.125rem;
}