/**
 * Site header
 */
.site-header {
  /*border-bottom: 1px solid $grey-color;*/
  background-color: $brand-color;
  color: white;
  // Positioning context for the mobile navigation icon
  position: relative;
  margin-bottom: $spacing-unit;
  .wrapper {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }
}

.site-title {
  font-family: $display-font-family;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 0;
  flex: 0 0 auto;

  -webkit-text-decoration: none;
  text-decoration: none;
  &:visited {
    color: inherit;
  }

  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

.kern-near {
  letter-spacing: -0.045em;
}

.kern-close {
  letter-spacing: -0.090em;
}

.site-nav {
  margin-left: auto;
  line-height: 48px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: inherit;
    line-height: $base-line-height;
    -webkit-text-decoration: none;
    text-decoration: none;    
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    right: $spacing-unit / 2;
    text-align: right;

    .navigation-links {
      line-height: 24px;
    }

  }
}


/**
 * Site footer
 */
footer,
footer p {
  font-weight: 300;
  color: $grey-color-mid-light;
}
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.branded-title,
.branded-title:visited {
  font-family: $display-font-family;
  text-transform: uppercase;
  font-weight: 900;
  color: $grey-color-mid-light;
  letter-spacing: 0.2px;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list {
  i {
    margin-right: 8px;
    display: inline-block;
    width: 13px;
  }
  a,
  a:visited,
  a:hover {
    color: $grey-color-mid-light;
  }
}

  .footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-weight: 600;
  font-size: 21px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit / 2;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  float: right;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.post-link {
  display: block;
  font-size: 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 1.5dppx) {
  footer {
    border-width: 0.5px;
  }
}
