---
---
@charset "utf-8";

@import "research-portfolio-variables";

// Our variables
$base-font-family: "Rowan-Variable", "Georgia", serif;
$display-font-family: "Rowan-Variable", 'Georgia', serif;;
$base-font-size:   17px;
$base-font-weight: 400;
$base-line-height: 1.5;

$small-font-size:  0.875rem;


$post-content-font-family: "Rowan-Variable", "Georgia";
$post-content-font-size: 18px;


// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        800px;

// Import partials from the `research-portfolio` theme.
@import "research-portfolio";
@import "gallery";

/* Custom Fonts */
@import "rowan.css";

:root {
  --brand-color: hsl(72.88, 66.53%, 48%);
  --brand-color-light: hsl(72.88, 66.53%, 53%);
  --brand-color-lighter: hsl(72.88, 66.53%, 58%);
  --brand-color-dark: hsl(72.88, 66.53%, 43%);
  --brand-color-darker: hsl(72.88, 66.53%, 38%);
  --brand-color-darkest: hsl(72.88, 66.53%, 28%);
}

i, em {
  font-family: "Rowan-VariableItalic", "Georgia";
}

/* Header customizations */

.site-title {
  font-family: $display-font-family;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: 0;
  @include media-query($on-laptop) {
    margin-left: 0;
    font-size: 24px;
    line-height: $spacing-unit * 2;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}
