@charset "utf-8";


/* ----- RESET BROWSER DEFAULTS ----- */
*
{
	margin: 0;
	padding: 0;
}

a
{
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight: normal;
}

a img
{
	outline: none;
}

ul
{
	list-style: none;
}

/* ----- BASIC PAGE SET-UPS ----- */
html
{
	min-width: 324px;
	padding: 5px 0px;

	background-color: #0b0e12;
	color: #ffffff;

}

body
{
	background-color: transparent;
	color: #ffffff;

	font-family: "Open Sans";

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	line-height: 24px;
}


header,
section,
figure,
footer
{
	width: 100%;
	margin: 10px auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

/* ----- HEADER ----- */

h1  {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -.5px;
    line-height: 1.2;
}

/* ----- APP STORE BUTTON -------------------- */

a.appstore-button
{
	width: 290px;
	height: 60px;
	background-image: url("/assets/projects/pulsar/appstore-button.svg");
	-webkit-background-size: 216px 60px;
	-moz-background-size:    216px 60px;
	-ms-background-size:     216px 60px;
	-o-background-size:      216px 60px;
	background-size:         216px 60px;
	background-position: right 0%;
	background-repeat: no-repeat;
	border-radius: 4px;
	display: block;
	margin: 20px 0 10px 0;
	position: relative;
	color: transparent;
	text-indent: -9999px;
	z-index: 10;
}
a.appstore-button::before
{
	content: '&nbsp;';
	width: 60px;
	height: 60px;
	background-image: url("/assets/projects/pulsar/icon.png");
	-webkit-background-size: 60px 60px;
	-moz-background-size:    60px 60px;
	-ms-background-size:     60px 60px;
	-o-background-size:      60px 60px;
	background-size:         60px 60px;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	display: block;
}



@media screen and (min-width: 540px)
{

	html
	{
		padding: 0;

		background-position: center 411px, center top;
		background-size: 540px 783px, 200px 200px;
	}

	/* ----- PAGE SET-UPS -------------------- */
	body
	{
		font-size: 18px;
		line-height: 32px;
		min-width: 580px;
		position: relative;
	}

	header,
    section,
    figure,
	footer
	{
		width: 580px;
		margin: 20px auto;
		padding: 0;
	}

	/* ----- HEADER -------------------- */
	h1
	{
		font-size: 96px;
		letter-spacing: -4px;
	}


	/* ----- APP STORE BUTTON -------------------- */

	a.appstore-button
	{
		margin: 40px 0 20px 0;
		font-size: 26px;
	}

	/* ----- HEADINGS -------------------- */

	h2
	{
		font-size: 70px;
		line-height: 70px;
		letter-spacing: -5px;
	}



}




@media screen and (min-width: 824px)
{

	/* ----- PAGE SET-UPS -------------------- */
	body    {
    	font-size: 21px;
    	line-height: 32px;
	}
	header,
	section,
	footer
	{
		width: 850px;
		margin: 20px auto;
		padding: 0;

	}


	/* ----- HEADINGS -------------------- */

	h2
	{

	}

	/* ----- DEMO -------------------- */

	#intro {
    	display: -webkit-flex;
    	display: flex;
	}

	.device {
    	-webkit-flex: 1 50%;
    	-webkit-flex-order: 2;
	}

    #intro .text    {
        -webkit-flex: 1 50%;
    }

}


