body	{
	font-family: 'Merriweather Sans';
	font-weight: 400;
}
/*--- = Header */
.plate	{
	font-family: 'Arvo';
}
.plate h2	{
	font-style: italic;
}
.left h2	{
	font-weight: 700;
}

article h2	{
	font-weight: 700;
}
article h3	{
	font-weight: 500;
}
article p	{
	font-family: 'Merriweather';
}
.objective .right	{
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 300;
}

.detail-list .right article h2	{
	font-size: 14px;
	float: left;
}
.detail-list .right article h3	{
	font-size: 14px;
	float: left;
	clear: none;
	font-weight: 300;
	margin-left: 20px;
	font-style: italic;
}
.detail-list .right article p	{
	clear: both;
	font-size: 14px;
}
.detail-list .right article hgroup	{
	margin-bottom: 10px;
	clear: both;
	overflow: auto;
}