<html>
<head>
    <meta charset="UTF-8">
    <title>Pulsar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/images/favicon.png"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ 'assets/css/pulsar.css' | relative_url}}">
    <link rel="stylesheet" href="{{ 'assets/css/device.css' | relative_url}}">

</head>
<body>
<section id="intro">
    <figure class="device">
        <div id="demo" class="iphone">
            <div id="device" class="white">
                <video class="screen" preload="" onplaying="this.controls=false" loop="" autoplay="">
                    <source src="{{ 'assets/projects/pulsar/pulsar-iphone-screencast.mp4' | relative_url}}" type="video/mp4">
                    <!-- Fallback -->
                    <p>Your browser does not support HTML5 video.</p>
                </video>
            </div>
        </div>
    </figure>

    <figure class="text">
        <h1>Pulsar</h1>
        <p>A beautiful metronome that makes your practice easier. Pulsar fills the screen with what's most important; the pulse.</p>
        <p>Pulsar is <a href="https://github.com/nickswalker/pulsar">open source</a>.</p>
        <!--<a href="https://itunes.apple.com/us/app/pulsar-metronome/id914304850?ls=1&amp;mt=8" class="appstore-button">Download on the App Store</a>-->
    </figure>
</section>

</body>
</html>