---
layout: contained
restrict_width: true
title: Blog
permalink: blog/
---

<section class="page {{ page.title | downcase }}-page">

<header class="page-heading">
  <a class="float-end link-secondary" href="{{ '/feed.xml' | relative_url }}"><ion-icon name="logo-rss"></ion-icon> RSS</ion-icon></a><h1 class="page-title">{{ page.title | escape }}</h1>
</header>

<div class="blog-list">
{% for post in site.posts limit:6 %}

{% assign url = post.url | relative_url %}
{% assign post-type-class = "full-post" %}
{% if post.type == "link" %}
{% assign url = post.link %}
{% assign post-type-class = "link-post" %}
{% endif %}

    <article class="post {{ post-type-class }}">
    <header class="post-header">
        <a class="float-end permalink" href="{{ post.url }}" title="Permalink">*</a>
        <h2 class="mb-1">
            <a class="{% if post.type == 'link' %}post-link{% endif %}" href="{{ url }}">{{ post.title | escape | markdownify | remove: '<p>' | remove: '</p>' }}</a>
        </h2>
        <p class="post-meta text-secondary">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d,
                %Y" }}
            </time>
            <span class="visually-hidden">{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ post.author.name }}</span></span>{% endif %}</span>
        </p>
    </header>

    <div class="post-content">
        {{ post.content }}
    </div>
</article>

{% endfor %}
</div>
    <div class="d-flex justify-content-center">
     <a class="btn btn-outline-primary" href="{% link pages/archive.md %}">Archive</a>
    </div>

</section>

{% include add_anchor_links.html %}