---
layout: page
---

{% if page.type == "all-by-date" %}
{% assign posts = site.posts %}
{% else %}
{% assign posts = page.posts %}
{% endif %}

{% assign sectionYear = "" %}
{% for post in posts %}
{% assign currentDate = post.date | date: "%Y" %}
{% if currentDate != sectionYear %}
{% unless forloop.first %}</ul>{% endunless %}
<h2 id="{{currentDate}}">{{ currentDate }}</h2>
<ul class="post-list">
    {% assign sectionYear = currentDate %}
    {% endif %}

    <li class="mb-3 row">
        <time class="post-meta col-sm-1 text-secondary" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m/%d" }}</time>
        <h3 class="h2 col-sm">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape | markdownify | remove: '<p>' | remove: '</p>'  }}</a>
        </h3>
    </li>
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}


