---
layout: page
---

{% if page.type == "all-by-date" %}
{% assign posts = site.posts %}
{% else %}
{% assign posts = page.posts %}
{% endif %}

{% assign sectionYear = "" %}
{% for post in posts %}
{% assign currentDate = post.date | date: "%Y" %}
{% if currentDate != sectionYear %}
{% unless forloop.first %}</ul>{% endunless %}
<h2>{{ currentDate }}</h2>
<ul class="post-list">
    {% assign sectionYear = currentDate %}
    {% endif %}

<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
<h2>
    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape | markdownify | remove: '<p>' | remove: '</p>'  }}</a>
</h2>

    {% if forloop.last %}</ul>{% endif %}
{% endfor %}


