---
layout: default
---

<article id="{{ page.entry.key}}-details">
    <header class="project-header">
        <h1>{{ page.entry.title }}</h1>
        <ul class="quick-links">
            {% if page.entry.wwwurl %}
            <li>
                <a href="{{ page.entry.wwwurl }}" title="See project site">
                    <ion-icon name="link"></ion-icon>
                    Site</a>
            </li>
            {% endif %}
            {% if page.entry.wwwpdf %}
            <li>
                <a href="{{ page.entry.wwwpdf }}" title="Get PDF">
                    <ion-icon name="document"></ion-icon>
                    PDF</a>
            </li>
            {% endif %}

            {% if page.entry.wwwcode %}
            <li>
                <a href="{{ page.entry.wwwcode }}" title="See code">
                    <ion-icon name="logo-github"></ion-icon>
                    Code</a>
            </li>
            {% endif %}

            {% if page.entry.wwwslides %}
            <li>
                <a href="{{ page.entry.wwwslides }}" title="See slides">
                    <ion-icon
                            name="albums"></ion-icon>
                    Slides</a>
            </li>
            {% endif %}
            {% if page.entry.wwwposter %}
            <li>
                <a href="{{ page.entry.wwwposter }}" title="See poster">
                    <ion-icon
                            name="easel"></ion-icon>
                    Poster</a>
            </li>
            {% endif %}
            {% if page.entry.wwwvideo %}
            <li>
                <a href="{{ page.entry.wwwvideo }}" title="See video">
                    <ion-icon
                            name="film"></ion-icon>
                    Video</a>
            </li>
            {% endif %}
            {% if page.entry.wwwextra %}
            <li>
                <a href="{{ page.entry.wwwextra }}" title="Access supplement">
                    <ion-icon name="document-attach"></ion-icon>
                    Supplement</a>
            </li>
            {% endif %}
            {% if page.entry.url %}
            <li>
                <a href="{{ page.entry.url }}" title="More information">
                    <ion-icon name="link"></ion-icon>
                    More info</a>
            </li>
            {% endif %}
        </ul>
    </header>

    {% assign research_pages = site.research | concat: site.projects%}
    {% for research_page in research_pages %}
    {% comment %}<!-- Check whether a research page links back to this paper --> {% endcomment %}

    {% if research_page.published and research_page.citation_keys contains page.entry.key %}
    <p>For background and additional information, see this page: <a class="page-link"
                                                                    href="{{ research_page.url | relative_url }}">{{
        research_page.title | escape }}</a></p>
    {% comment %} <!-- TODO: Handle formatting for more than one related post--> {% endcomment %}
    {% break %}
    {% endif %}
    {% endfor %}

    {% if page.entry.wwwnewer %}
    <p><i>See the {% cite_details page.entry.wwwnewer --text newer version of this work %}.</i></p>
    {% endif %}

    {% if page.entry.wwwolder %}
    {% assign older_list= page.entry.wwwolder | split: "," %}
    <p><i>See the other references that present older versions of this work: {% for entry in older_list %}<a href="{% details_link entry %}">{{ entry }}</a>{% unless forloop.last %}, {%endunless%}{% endfor %}.</i></p>
    {% endif %}

    {% if page.entry.wwwalso %}
    {% assign also_list= page.entry.wwwalso | split: "," %}
    <p><i>See other references that overlap with this work: {% for entry in also_list %}<a href="{% details_link entry %}">{{ entry }}</a>{% unless forloop.last %}, {%endunless%}{% endfor %}.</i></p>
    {% endif %}

    {{ page.reference }}

    <div class="details">
        {% if page.entry.abstract %}
        <h3>Abstract</h3>
        <blockquote>{{ page.entry.abstract }}</blockquote>
        {% endif %}

        <h3>BibTeX Entry</h3>
        <pre>{{ page.entry.bibtex }}</pre>
    </div>
</article>