---
layout: default
---

<article id="{{ page.entry.key}}-details">
    <header class="project-header">
        <h1>{{ page.entry.title }}</h1>
        <ul class="quick-links">
            {% if page.entry.wwwpdf %}
            <li>
                <a href="{{ page.entry.wwwpdf }}" title="Get PDF">
                    <ion-icon name="document"></ion-icon>
                    PDF</a>
            </li>
            {% endif %}
            {% if page.entry.url %}
            <li>
                <a href="{{ page.entry.url }}" title="More information">
                    <ion-icon name="link"></ion-icon>
                    More info</a>
            </li>
            {% endif %}
            {% if page.entry.wwwcodeurl %}
            <li>
                <a href="{{ page.entry.wwwcodeurl }}" title="See code">
                    <ion-icon name="logo-github"></ion-icon>
                    Code</a>
            </li>
            {% endif %}

            {% if page.report %}
            <li>
                <a href="{{ project_assets }}/{{slug}}-report.pdf" title="See report.">
                    <ion-icon name="document"></ion-icon>
                    Report</a>
            </li>
            {% endif %}
            {% if page.slides %}
            <li>
                <a href="{{ project_assets }}/{{slug}}-slides.pdf" title="See slides.">
                    <ion-icon
                            name="easel"></ion-icon>
                    Slides</a>
            </li>
            {% endif %}
        </ul>
    </header>

    {% assign research_pages = site.research %}
    {% for research_page in research_pages %}
    {% comment %}<!-- Check whether a research page links back to this paper --> {% endcomment %}

    {% if research_page.published and research_page.citation_keys contains page.entry.key %}
    <p>For background and additional information this paper, see this post: <a class="page-link"
                                                                               href="{{ page.url | relative_url }}">{{
        page.title | escape }}</a></p>
    {% break %}
    {% endif %}
    {% endfor %}

    {{ page.reference }}

    <div class="details">
        {% if page.entry.abstract %}
        <h3>Abstract</h3>
        <blockquote>{{ page.entry.abstract }}</blockquote>
        {% endif %}

        <h3>BibTeX Entry</h3>
        <pre>{{ page.entry.bibtex }}</pre>
    </div>
</article>