---
---

<div class="mb-4">
    {%comment%}Yes, captures have to be on one line or they'll capture whitespace too{%endcomment%}
    {% assign venue = "" %}
    {% if entry.booktitle %}
    {% capture venue %}{{ entry.booktitle | remove: "Proceedings of the " | remove: "Proceedings of " | replace: "International Conference on", "Int. Conf."}}{% endcapture %}
    {% elsif entry.archiveprefix %}
    {% capture venue %}{{ entry.archiveprefix }}{% if entry.primaryclass %} ({{ entry.primaryclass }}){% endif %} preprint{% endcapture %}
    {% elsif entry.journal %}
    {% capture venue %}{{ entry.journal }}{% endcapture %}
    {% elsif entry.number %}
    {% capture venue %}{{ entry.number }}{% endcapture %}
    {% endif %}
    {% assign cofirst = -1 %}
    {% if entry.cofirst %}
    {%comment%}plus 0 to cast to int{%endcomment%}
    {% assign cofirst = entry.cofirst | plus: 0%}
    {% endif %}

    <span class="fw-semibold">{{ entry.title }}</span><br/>
    <i>{{ venue }}, {{ entry.year }}</i>{% if entry.wwwtype %}<span class="ms-2 badge text-bg-light badge-{{entry.wwwtype}}">{{entry.wwwtype}}</span>{% endif %}<br/>
    <span class="mb-1">{%for author in entry.author_array%}{%if forloop.last and forloop.first != true %} and {%elsif forloop.first%}{%else%}, {%endif%}{%if (author.first == "Nick" or author.first == "Nicholas" or author.first == "Nicholas S.") and author.last == "Walker"%}<u>{{author.first}}&nbsp;{{author.last}}{% if forloop.index0 < cofirst %}*{% endif %}</u>{%else%} {{author.first}}&nbsp;{{author.last}}{% if forloop.index0 < cofirst %}*{% endif %}{%endif%}{%endfor%}{% if entry.assignee %}<br/>{{entry.assignee}}{% endif %}{% if entry.note %}{{entry.note}}<br/>{% endif %}</span>

    <ul class="quick-links">
        {% if entry.wwwurl %}
        <li><a href="{{ entry.wwwurl }}" data-goatcounter-click="ext-{{entry.key}}-site">About</a></li>
        {% endif %}

        {% if entry.wwwpdf %}
        <li><a href="{{ entry.wwwpdf }}" data-goatcounter-click="ext-{{entry.key}}-pdf">PDF</a></li>
        {% endif %}

        {% if entry.url %}
        {% comment %}For publications where primary format is URL{% endcomment %}
        <li><a href="{{ entry.url }}" data-goatcounter-click="ext-{{entry.key}}-url">URL</a></li>
        {% endif %}

        {% if entry.wwwslides %}
        <li><a href="{{ entry.wwwslides }}" data-goatcounter-click="ext-{{entry.key}}-slides">Slides</a></li>
        {% endif %}

        {% if entry.wwwposter %}
        <li><a href="{{ entry.wwwposter }}" data-goatcounter-click="ext-{{entry.key}}-poster">Poster</a></li>
        {% endif %}

        {% if entry.wwwvideo %}
        <li><a href="{{ entry.wwwvideo }}" data-goatcounter-click="ext-{{entry.key}}-video">Video</a></li>
        {% endif %}

        {% if entry.wwwcode %}
        <li><a href="{{ entry.wwwcode }}" data-goatcounter-click="ext-{{entry.key}}-code">Code</a></li>
        {% endif %}

        <li><a href="{{ site.baseurl }}/publications/{{entry.key}}/">More</a></li>
    </ul>
</div>