---
---

<div class="bib-entry">
    {%comment%}Yes, captures have to be on one line or they'll capture whitespace too{%endcomment%}
    {% assign venue = "" %}
    {% if entry.booktitle %}
    {% capture venue %}{{ entry.booktitle }}{% endcapture %}
    {% elsif entry.journal == "CoRR" %}
    {% assign venue = "arXiv preprint" %}
    {% elsif entry.journal %}
    {% capture venue %}{{ entry.journal }}{% endcapture %}
    {% endif %}

    <span class="title">{{ entry.title }}</span><br/>
    <span class="venue">{{ venue }}, {{ entry.year }}</span><br/>
    <span class="authors">{%for author in entry.author_array%}{%if forloop.last%} and {%elsif forloop.first%}{%else%}, {%endif%}{%if (author.first == "Nick" or author.first == "Nicholas") and author.last == "Walker%}<u>{{author.first}} {{author.last}}</u>{%else%} {{author.first}} {{author.last}}{%endif%}{%endfor%}</span>

    <ul class="quick-links">
        {% if entry.wwwpdf %}
        <li><a href="{{ entry.wwwpdf }}">PDF</a></li>
        {% endif %}

        {% if entry.wwwslides %}
        <li><a href="{{ entry.wwwslides }}">Slides</a></li>
        {% endif %}

        {% if entry.wwwposter %}
        <li><a href="{{ entry.wwwposter }}">Poster</a></li>
        {% endif %}

        {% if entry.wwwvideo %}
        <li><a href="{{ entry.wwwvideo }}">Video</a></li>
        {% endif %}

        <li><a href="{% details_link entry.key %}">Details</a></li>
    </ul>
</div>
