---
layout: default
---

<div class="home">

  <section class="bio">
  <img class="avatar"
       src="{{site.gravatar_url}}?s=360"
       srcset="{{site.gravatar_url}}?s=720 2x"
  alt="Headshot of man wearing glasses and smiling"/>

    {{page.bio | markdownify}}
  </section>

  <section id="projects">
    <!--<h1 class="page-heading">Projects</h1>-->
    <ul class="project-list">
      {% assign featured_projects = site.projects | where:"featured", true %}
      {% for project in featured_projects %}
        {% include project_block.html project=project %}
      {% endfor %}
    </ul>
  </section>

  {% assign post_count = {site.posts | size} %}
  {% if post_count > 0 %}
  <section id="posts">
    <a class="rss-note" href="{{ '/feed.xml' | relative_url }}">RSS</a>
    <h1 class="page-heading">Posts</h1>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}


</div>
