---
layout: default
---
<div class="container restrict-width">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.type == "link" %}
    <h1 class="mb-2" itemprop="headline"><a href="{{ page.link }}">{{ page.title | escape | markdownify | remove: '<p>' | remove: '</p>' }}</a></h1>
    {% else %}
    <h1 class="mb-2" itemprop="headline">{{ page.title | escape | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
    {% endif %}
    <p class="post-meta text-body-secondary"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time><span class="visually-hidden">{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author.name }}</span></span>{% endif %}</span></p>
  </header>

  <div class="post-content mb-4" itemprop="articleBody">
    {{ content }}
  </div>

</article>
  {% if page.categories %}
  <div class="mb-3 d-flex small text-body-tertiary gap-2">
    {% for category in page.categories %}
      <div>#{{category}}</div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="clearfix mt-4 small">
  {% if page.previous %}
    <a href="{{ page.previous.url }}" class="col link-secondary fw-lighter d-block mb-1"><ion-icon name="arrow-back-outline"></ion-icon> <i>Previous</i>: {{ page.previous.title }}</a>

  {% endif %}
  {% if page.next %}
  <a href="{{ page.next.url }}" class="col link-secondary fw-lighter d-block mb-1"><ion-icon name="arrow-forward-outline"></ion-icon> <i>Next</i>: {{ page.next.title }}</a>
  {% endif %}
  </div>
</div>

{% include add_anchor_links.html %}