---
layout: contained-restrict-width
---
<article class="project">

    {% assign slug = page.title | slugify %}
    {% assign project_assets = "/assets/projects/" | append: slug %}
    {% if page.images.size > 0 %}
    <div class="full-width">
    <figure class="project-images almost-full-bleed">
        <a href="{{ project_assets }}/{{page.images[0]}}" data-fancybox="gallery" class="hero"><img src="{{ project_assets }}/{{page.images[0]}}"/></a>
        {% if page.images.size > 1 %}
        <ul class="thumbnails">
            {% for image in page.images offset:1 %}
            <li><a href="{{ project_assets }}/{{image}}" data-fancybox="gallery"> <img src="{{ project_assets }}/{{image}}"/></a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </figure>
    </div>
    {% endif %}
  <header class="project-header">
    <h1 class="project-title">{{ page.title | escape }}</h1>
      <ul class="quick-links">
          {% if page.link %}
          <li>
              <a class="btn btn-outline-primary" href="{{ page.link }}" title="See more" data-goatcounter-click="ext-{{slug}}-more"> <ion-icon name="link"></ion-icon> Link</a>
          </li>
          {% endif %}
          {% if page.code_url %}
          <li>
              <a class="btn btn-outline-primary" href="{{ page.code_url }}" title="See code" data-goatcounter-click="ext-{{slug}}-code"> <ion-icon name="logo-github"></ion-icon> Code</a>
          </li>
          {% endif %}
          {% if page.report %}
          <li>
              <a class="btn btn-outline-primary" href="{{ project_assets }}/{{slug}}-report.pdf" title="See report" data-goatcounter-click="ext-{{slug}}-report"> <ion-icon name="document"></ion-icon> Report</a>
          </li>
          {% endif %}
          {% if page.slides %}
          <li>
              <a class="btn btn-outline-primary" href="{{ project_assets }}/{{slug}}-slides.pdf" title="See slides" data-goatcounter-click="ext-{{slug}}-slides"> <ion-icon
                      name="easel"></ion-icon> Slides</a>
          </li>
          {% endif %}
      </ul>
  </header>

  <div class="project-content">
    {{ content }}
  </div>

</article>

{% include add_anchor_links.html %}