---
layout: page
---


{% assign featured_projects = site.projects | where:"featured", true | sort: 'date' | reverse %}
{% assign other_projects = site.projects | where:"featured", false | sort: 'date' | reverse %}


<ul class="project-block-list">
    {% for project in featured_projects %}
    {% include project_block.html project=project %}
    {% endfor %}

</ul>
{% if other_projects.size > 0 %}
<h3>Older &amp; Fun Projects</h3>
<ul class="project-block-list">
    {% for project in other_projects %}
    {% include project_block.html project=project %}
    {% endfor %}
</ul>
{% endif %}
